@define-color bg #dfe4c4;
@define-color fg #1c2d28;
@define-color gray1 #5f745d;
@define-color gray2 #5f8170;
@define-color gray3 #5e81ac;
@define-color gray4 #d08770;
@define-color gray5 #b48ead;
@define-color fg_bright #1c2d28;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}