:root {
--color00: #dfe4c4;
--color01: #dfe4c4;
--color02: #dfe4c4;
--color03: #384f54;
--color04: #1c2d28;
--color05: #1c2d28;
--color06: #1c2d28;
--color07: #1c2d28;
--color08: #bf616a;
--color09: #d08770;
--color0A: #d08770;
--color0B: #5f745d;
--color0C: #4a8c99;
--color0D: #5e81ac;
--color0E: #b48ead;
--color0F: #bf616a;
}
